<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<h2>Mail lists</h2>

<form action="." method="get" >{% csrf_token %}
	<input type="submit" name="new_job" value="+ Add mailing list" style="width:200px" />
</form>



<table>
	<tr><th></th><th></th><th>Monitoring cycle</th><th></th><th>Time delivery</th>{% if new != 1 %}<th>Delete</th>{% endif %}</tr>
	{% for job in job_list %}
		<form action="." method="get">{% csrf_token %}
			<tr>
			{% for param in job %}
				<td>{{ param|removetags:"tr"|safe }}</td>
			{% endfor %}
			{% if new != 1 %}<td><input type="checkbox" name="delete" value='Delete job' /></td>{% endif %}
			<td><input type="submit" name="edit_job" value='Save changes' /></td>
			</tr>
		</form>
	{% endfor %}
</table>
